<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vitus Balazs - Accesa Weather app</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/font.css'>
    <script src='/main.js'></script>
</head>
<body>
    <!-- Black blur and floating window for adding new city -->
    <div class="black-blur" id="black-blur"></div>
    <div class="add-new-favorite" id="add-new-favorite">
        <div class="floating-window card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" id="floating-window">
            <form class="add-new-favorite-form" method="POST" action="/new">
                <div class="remove-favorite-floating" onclick="moveFloatingWindow('add-new-favorite');">
                    <i class="far fa-times-circle"></i>
                </div>
                <div class="gradient"><h3>Please enter the name of the city you want to add as your favorite:</h3></div>
                <div class="mb-3 mt-3 cityName">
                    <input type="text" class="form-control cityName" id="cityName" name="cityName" placeholder="City name" required>
                </div>
                <button type="submit" class="btn btn-warning">Add city</button>
            </form>
        </div>
    </div>

    <div class="search-city" id="search-city">
        <div class="floating-window card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" id="floating-window">
            <form class="add-new-favorite-form" method="POST" action="/details">
                <div class="remove-favorite-floating" onclick="moveFloatingWindow('search-city');">
                    <i class="far fa-times-circle"></i>
                </div>
                <div class="gradient"><h3>Please enter the name of the city:</h3></div>
                <div class="mb-3 mt-3 cityName">
                    <input type="text" class="form-control cityName" id="cityName" name="cityName" placeholder="City name" required>
                </div>
                <button type="submit" class="btn btn-warning">Search city</button>
            </form>
        </div>
    </div>

    <% if (errorMsg != null) { %>
        <div class="error-black-blur" id="error-black-blur"></div>
        <div class="error-window" id="error-window">
            <div class="floating-window card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" id="error-window">
                <div class="remove-favorite-floating" onclick="moveErrorWindow();">
                    <i class="far fa-times-circle"></i>
                </div>
                
                <div class="gradient"><h3><%= errorMsg %></h3></div>
            </div>
        </div>
    <% } %>

    <!-- Header, welcome message -->
    <div class="welcome-message col-12">
        <h1>Welcome to Accesa Weather app!</h1>
    </div>

    <!-- Main feed -->
    <div class="content">
        <!-- Current location, modified by the client side JavaScript -->
        <h3>Current location</h3>
        <div class="card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" id="current-weather">
            <img class="card-img" src="/assets/sad.png" id="current-image">
            <div class="title" id="hide-on-pos">Could not retrieve your current position's weather (Please check if you have enabled the location services on this tab)</div>
            <div class="title"><h4 id="current-title"></h4></div>
            <div class="weather-type" id="weather-type"></div>
            <div class="temperature" id="temperature"></div>
        </div>

        <!-- Favorites -->
        <h3>Favorites</h3>
        <% if (cities.length === 0) { %>
            <!-- If there is no city added as your favorite, you will see this message. -->
            <div class="card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3">
                <img class="card-img" src="/assets/sad.png">
                <div class="title">There is no city added as your favorite</div>
            </div>
        <% } else { %>
            <!-- If there is at least one city added as your favorite, you will see this message. -->
            <% for (let i = 0; i < cities.length; i++) { %>
                <div class="card col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3">
                    <div class="remove-favorite">
                        <a class="margin-right-5" href="/details/<%= cities[i].name %>"><i class="fas fa-eye"></i></a>
                        <form class="anchor-hover" method="POST" action="/delete/<%= cities[i].name %>"><button type="submit" class="btn remove-btn"><i class="far fa-times-circle"></i></button></form>
                    </div>
                    <img class="card-img" src="/assets/<%= cities[i].weather %>.png">
                    <div class="title"><h4><%= cities[i].name %></h4></div>
                    <!-- <div class="temporary"><%= cities[i].weather %></div> -->
                    <div class="weather-type"><%= cities[i].weather2 %></div>
                    <div class="temperature"><%= cities[i].temp %><sup>o</sup>C (feels like <%= cities[i].temp_feels_like %><sup>o</sup>C)</div>
                </div>
            <% } %>
        <% } %>

        <!-- Add new city as your favorite -->
        <div class="card-clickable col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" onclick="moveFloatingWindow('add-new-favorite');">
            <img class="card-img" src="/assets/plus.png">
            <div class="title">Click here to add a new city as your favorite</div>
        </div>

        <h3>Search for city's weather forecast</h3>
        <div class="card-clickable col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3" onclick="moveFloatingWindow('search-city');">
            <img class="card-img" src="/assets/search.png">
            <div class="title">Search for city's weather forecast</div>
        </div>
    </div>
</body>
</html>